.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-max);
}

.container-md {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-max-md);
}

.container-sm {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-max-sm);
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}
